# AuthGroupFile /dev/null
# AuthType Basic
# AuthUserFile /home/deviant/domains/baza09.com.ua/public_html/.htpasswd
# AuthName "Protected area"
# require valid-user

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^044([0-9]+)\.html?$ index.php?phone=$1 [L]
</IfModule>